body {
    display: flex;
    flex-direction: column;
} 

.header {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
}

.control-panel {
    border: 25px;
    border-style: solid;
    border-color: grey;
    border-radius: 1%;
    background-color: grey;
    width: 250px;
}

#range-slider {
    width: 250px;
}

.grid-size{
    display: flex;
    justify-content: center;
}

.btn{
    margin-top: 25px;
    width: 250px;
    height: 45px;
}

#colorPicker {
    margin-top: 25px;
    width: 250px;
    height: 150px;
}

.pressed {
    background-color: lightgrey;
}

.grid-div {
    width: 500px;
    height: 500px;
    max-width: 500px;
    max-height: 500px;
    background-color: white;
}

.grid-container {
    display: flex;
    justify-content: center;
    width: 550px;
    height: 550px;
    background-color: gray;
    align-items:center;
    border-radius: 2%;
}

.grid-border {
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    border-color: grey;
}